accelerate>=0.31.0
filelock
httpx<1.0.0
huggingface-hub>=0.34.0,<2.0
importlib_metadata
numpy
Pillow
regex!=2019.12.17
requests
safetensors>=0.8.0-rc.0
torchvision
tqdm
matplotlib
opencv-python
pyyaml